name: Deploy

on:
  push:
    branches:
      - main  # Замените 'main' на имя вашей основной ветки, если оно отличается

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: npm ci

      - name: Build project
        env:
          API_KEY: ${{ secrets.GMAP_API_KEY }}
        run: |
          # Замена YOUR_API_KEY на реальный ключ в файле main.js
          sed -i "s/YOUR_API_KEY/${API_KEY}/g" main.js
          # Выполните здесь дополнительные шаги сборки, если они необходимы

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./  # Замените на путь к каталогу для публикации, если ваш проект имеет другую структуру
