name: Deploy

on:
  push:
    branches:
      - main  # Замените 'main' на имя вашей основной ветки, если оно отличается

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Replace API key in main.js
        env:
          API_KEY: ${{ secrets.GMAP_API_KEY }}
        run: |
          sed -i "s/YOUR_API_KEY/${API_KEY}/g" main.js

      - name: Check main.js content
        run: |
          cat main.js

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./  # Замените на путь к каталогу для публикации, если ваш проект имеет другую структуру
